<div>
    <app-navbar></app-navbar>
</div>
<div class="bg">

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <app-perfil-lateral></app-perfil-lateral>
            </div>
            <div class="col-md-8 my-4 d-flex justify-content-center">
                <div class="card" style="width: 50rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">INFORMAÇÕES</h5>
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">E-mail</label>
                                <input type="text" name="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="" [(ngModel)]="postagem.contato">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Telefone</label>
                                <input type="text" name="contato" class="form-control" id="exampleFormControlInput1"
                                    placeholder="" [(ngModel)]="postagem.telefone">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Portfolio</label>
                                <textarea class="form-control" name="portfolio" id="texto" rows="3"
                                    placeholder="Digite aqui o seu texto" [(ngModel)]="postagem.portfolio"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Modalidade</label>
                                <input type="text" name="modalidade" class="form-control" id="exampleFormControlInput1"
                                    placeholder="" [(ngModel)]="postagem.modalidade">
                            </div>
                            <div class="form-group">
                                <label class="text" for="tema">Escolha um tema ou <a
                                        routerLink="/cadastrar-tema">Cadastre
                                        um novo</a></label>
                                <select name="tema" id='tema' [(ngModel)]="idTema" (change)="findByIdTema()"
                                    class="form-control">
                                    <option *ngFor="let item of listaTemas" value={{item.id}}>
                                        {{item.titulo}}
                                    </option>
                                </select>
                            </div>

                            <div class="btn d-flex justify-content-end mt-3">
                                <button type="button" class="btn btn-outline w-25" (click)="salvar()">Salvar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>