<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-2">
        <h4 class="text-light">Siga-nos!</h4>
      </div>
    </div>

    <div class="col-md-12 d-flex justify-content-center juntar">

      <ul class="social-network">
        <li><a href="https://www.facebook.com" target="_blank" class="icoFacebook" title="Facebook">
            <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
          </a></li>
        <li><a href="https://www.instagram.com" target="_blank" class="icoInstagram" title="Instagram">
            <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
          </a></li>
        <li><a href="https://www.linkedin.com" target="_blank" class="icoLinkedin" title="Linkedin">
            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center text-white mb-0">© 2020 Copyright: SQUAD01 </div>