.bg {
    background: white;
}

.parallax {
    background-image: url();
    min-height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron2 {
    background: linear-gradient(to bottom, rgba(114, 116, 116, 0.5) 0%, rgba(246, 154, 55, 0.88) 100%)!important;
    height: 500px;
}

.jumbo-texto {
    font-size: larger;
}

.jumbo-texto2 {
    font-size: x-large;
    font-weight: bold;
}

.jumbotron-titulo1 {
    text-color: rgb(246, 154, 55);
}

.card-title {}

.btn-sobre {
    background-color: rgb(246, 154, 55);
    border-radius: 5px;
}

.jumbotron1 {
    color: #000000;
}

.nossas-fotos {
    height: 150px;
    width: 150px;
    border-radius: 200px;
}

.flip-card {
    background-color: transparent;
}

.flip-card-inner {
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 75%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: rgba(255, 255, 255, 0.637);
    transform: rotateY(180deg);
}

.flip-card-back>ul {
    color: white;
    list-style-type: none;
}

.btn-cadastrar {
    background: #F69A37;
    color: #fff;
    font-weight: 600;
}

.btn-cadastrar:hover {
    border-color: white;
}

.card {
    position: relative;
    height: 300px
}

.card1 .card-body .card-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: black;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.card1:hover {
    height: 550px;
}

.card1:hover .card-body .card-text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card2 .card-body .card-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: black;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.card2:hover {
    height: 450px;
}

.card2:hover .card-body .card-text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card3 .card-body .card-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: black;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.card3:hover {
    height: 350px;
}

.card3:hover .card-body .card-text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}